*{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:20px;
margin-top:30px;
}


.skill{
padding:20px;
background:rgba(255,255,255,0.08);
border-radius:12px;
transition:0.3s;
}


.skill:hover{
transform:translateY(-5px);
background:#38bdf8;
color:black;
}


/* Projects */
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;
margin-top:30px;
}


.project-card{
padding:40px 20px;
background:rgba(255,255,255,0.08);
border-radius:15px;
transition:0.3s;
}


.project-card:hover{
transform:translateY(-8px) scale(1.02);
background:#0ea5e9;
color:black;
}


/* Contact */
.contact-form{
max-width:450px;
margin:40px auto 0;
}


.contact-form input,
.contact-form textarea{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
outline:none;
}


.contact-form button{
width:100%;
padding:12px;
border:none;
border-radius:30px;
background:#38bdf8;
color:black;
font-weight:600;
cursor:pointer;
}


/* Footer */
footer{
text-align:center;
padding:30px;
opacity:0.6;
}


@media(max-width:768px){
.hero-text h1{font-size:40px;}
.section{padding:80px 8%;}
.navbar{padding:15px 25px;}
}
