body{
margin:0;
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
}


header{
text-align:center;
padding:50px 20px;
background:#020617;
}


nav{
text-align:center;
background:#020617;
padding:10px;
position:sticky;
top:0;
}


nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}


.section{
padding:60px 20px;
text-align:center;
}


.skills span{
display:inline-block;
margin:10px;
padding:10px 15px;
background:#1e293b;
border-radius:5px;
}


.projects{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}


.card{
  max-width:400px;
margin:auto;
}


form input, form textarea{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}


button{
padding:10px;
width:100%;
border:none;
background:#22c55e;
color:black;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}


footer{
text-align:center;
padding:20px;
background:#020617;
}
